body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    height: 50px;
    width: 100px;
    background-color: #2c3c50;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#deliverToButton, #languageButton {
    background-color: #2c3c50;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.under {
    color: orange;
}

.header-search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.header-search button {
    padding: 5px 10px;
    background-color: #f90;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.header-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: large;
}

nav {
    color: #eeeff0;
    background-color: #2c3c50;
    padding: 1px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: gray;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #c39688;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.left-button {
    left: 0;
    transform: translate(-100%, -50%);
}

.right-button {
    right: 0;
    transform: translate(100%, -50%);
}

.product-box {
    width: 300px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.product-box img {
    max-width: 100%;
    height: auto;
}

.product-box img:hover {
    transform: scale(1.05);
}

.product-box h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-box p {
    font-size: 14px;
    color: #666;
}

#image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
}

footer {
    background-color: #232f3e;
    color: #eeeff0;
    margin-top: 0%;
    padding: 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px;
}

.footer-column {
    flex: 1;
    margin-bottom: 2rem;
}

.footer-column h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ff {
    background-color: #2c3c50;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header-search input[type="text"] {
        width: 100%;
    }

    .product-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
